{{ include('header.html') }}
{{ include('sidebar.html') }}

		<div class="col-xs-12 col-sm-10 no-float">
			<div class="page-header col-sm-12"><h1>Add Node</h1></div>

<div class="col-sm-offset-3 col-sm-6">
<form class="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Node Name</label>
      <input type="email" class="form-control" id="inputEmail3" placeholder="hostname">
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Hostname / IP</label>
      <input type="email" class="form-control" id="inputEmail3" placeholder="hostname">
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Username</label>
      <input type="text" class="form-control" id="inputPassword3" placeholder="root/administrator">
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
  </div>
 
  <div class="form-group">
      <button type="submit" class="btn btn-default">Add Node</button>
  </div>
</form>
</div>








		</div>
	</div>


</div>
</body>

<script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
</html>

